:root {
  /* Purple */
  --purple-900: #2e1a73;
  --purple-500: #8257e5;
  --purple-300: #bba7ff;

  /* Blue */
  --blue-900: #1b3c8e;
  --blue-500: #3d8bff;
  --blue-300: #a8c9ff;

  /* Green */
  --green-900: #027a43;
  --green-500: #04d361;
  --green-300: #a3f3c4;

  /* Red */
  --red-900: #8b1e34;
  --red-500: #e83f5b;
  --red-300: #ffa3b1;

  /* Yellow */
  --yellow-900: #ff8c42;
  --yellow-500: #f7b500;
  --yellow-300: #ffe9a3;

  /* Grays */
  --gray-900: #0e0e10;
  --gray-700: #2d2d33;
  --gray-500: #7a7a85;
  --gray-300: #c7c7d1;
  --gray-100: #f2f2f5;

  /* Base */
  --black: #000000;
  --white: #ffffff;
}

/* TODO: Definir Tema:

// :root {
//   --primary-color: #8257e5;
//   --secondary-color: #3d8bff;
//   --success-color: #04d361;
//   --danger-color: #e83f5b;
//   --warning-color: #f7b500;
//   --info-color: #a8c9ff;
//   --background-color: #f2f2f5;
//   --text-color: #0e0e10;
// }

// [data-theme="portfolio"] {
//   --primary-color: var(--purple-500);
//   --secondary-color: var(--blue-500);
//   --success-color: var(--green-500);
//   --danger-color: var(--red-500);
//   --warning-color: var(--yellow-500);
//   --info-color: var(--blue-300);
//   --background-color: var(--gray-100);
//   --text-color: var(--gray-900);
// }

// [data-theme="games"] {
//   --primary-color: var(--yellow-500);
//   --secondary-color: var(--purple-300);
//   --success-color: var(--green-300);
//   --danger-color: var(--red-300);
//   --warning-color: var(--yellow-300);
//   --info-color: var(--blue-300);
//   --background-color: var(--gray-900);
//   --text-color: var(--gray-100);
// }
*/
