/* Global resets and styles */
@import './reset.scss';

/* Component-level overrides */
@import '../components/Forms/Button/button.scss';
@import '../components/Forms/Input/input.scss';
@import '../components/Forms/Dropdown/dropdown.scss';
@import '../components/Avatar/avatar.scss';
@import '../components/Tag/tag.scss';
@import '../components/Icon/icon.scss';

/* Custom variables */
@import './colors.scss';

/* Tailwind layers */
@import './tailwind.css';
