*,
*::before,
*::after {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  @apply text-base box-border;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  @apply block max-w-full;
}

button,
input,
select,
textarea {
  font: inherit;
  border: none;
  background: none;
  color: inherit;
  outline: none;
}

html,
body,
#root {
  @apply h-full;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
