.hans-button {
  @apply cursor-pointer flex items-center justify-center gap-1;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    border-color 0.2s ease,
    outline-color 0.2s ease;
}

.hans-button-rounded {
  @apply rounded-full;
}

.hans-button-square {
  @apply rounded-md;
}

.hans-button:disabled,
.hans-button[disabled] {
  @apply opacity-50 cursor-not-allowed;
}

.hans-button:disabled > * {
  @apply pointer-events-none;
}

.hans-button-loading {
  @apply inline-flex;
}

.hans-button-small {
  @apply px-4 py-1;
}

.hans-button-medium {
  @apply px-5 py-2;
}

.hans-button-large {
  @apply px-6 py-3;
}

.hans-button-base.hans-button-strong {
  @apply bg-[var(--base-strong-color)] text-[var(--base-neutral-color)];
}

.hans-button-base.hans-button-default {
  @apply bg-[var(--base-default-color)] text-[var(--white)];
}

.hans-button-base.hans-button-neutral {
  @apply bg-[var(--base-neutral-color)] text-[var(--base-strong-color)];
}

.hans-button-base.hans-button-outline {
  @apply bg-transparent text-[var(--text-color)] border-[var(--base-default-color)] outline;
}

.hans-button-base.hans-button-transparent {
  @apply bg-transparent text-[var(--text-color)];
}

.hans-button-primary.hans-button-strong {
  @apply bg-[var(--primary-strong-color)] text-[var(--primary-neutral-color)];
}

.hans-button-primary.hans-button-default {
  @apply bg-[var(--primary-default-color)] text-[var(--white)];
}

.hans-button-primary.hans-button-neutral {
  @apply bg-[var(--primary-neutral-color)] text-[var(--primary-strong-color)];
}

.hans-button-primary.hans-button-outline {
  @apply bg-transparent text-[var(--primary-strong-color)] border-[var(--primary-default-color)] outline;
}

.hans-button-primary.hans-button-transparent {
  @apply bg-transparent text-[var(--primary-default-color)];
}

.hans-button-secondary.hans-button-strong {
  @apply bg-[var(--secondary-strong-color)] text-[var(--secondary-neutral-color)];
}

.hans-button-secondary.hans-button-default {
  @apply bg-[var(--secondary-default-color)] text-[var(--white)];
}

.hans-button-secondary.hans-button-neutral {
  @apply bg-[var(--secondary-neutral-color)] text-[var(--secondary-strong-color)];
}

.hans-button-secondary.hans-button-outline {
  @apply bg-transparent text-[var(--secondary-strong-color)] border-[var(--secondary-default-color)] outline;
}

.hans-button-secondary.hans-button-transparent {
  @apply bg-transparent text-[var(--secondary-default-color)];
}

.hans-button-success.hans-button-strong {
  @apply bg-[var(--success-strong-color)] text-[var(--success-neutral-color)];
}

.hans-button-success.hans-button-default {
  @apply bg-[var(--success-default-color)] text-[var(--white)];
}

.hans-button-success.hans-button-neutral {
  @apply bg-[var(--success-neutral-color)] text-[var(--success-strong-color)];
}

.hans-button-success.hans-button-outline {
  @apply bg-transparent text-[var(--success-strong-color)] border-[var(--success-default-color)] outline;
}

.hans-button-success.hans-button-transparent {
  @apply bg-transparent text-[var(--success-default-color)];
}

.hans-button-danger.hans-button-strong {
  @apply bg-[var(--danger-strong-color)] text-[var(--danger-neutral-color)];
}

.hans-button-danger.hans-button-default {
  @apply bg-[var(--danger-default-color)] text-[var(--white)];
}

.hans-button-danger.hans-button-neutral {
  @apply bg-[var(--danger-neutral-color)] text-[var(--danger-strong-color)];
}

.hans-button-danger.hans-button-outline {
  @apply bg-transparent text-[var(--danger-strong-color)] border-[var(--danger-default-color)] outline;
}

.hans-button-danger.hans-button-transparent {
  @apply bg-transparent text-[var(--danger-default-color)];
}

.hans-button-warning.hans-button-strong {
  @apply bg-[var(--warning-strong-color)] text-[var(--warning-neutral-color)];
}

.hans-button-warning.hans-button-default {
  @apply bg-[var(--warning-default-color)] text-[var(--white)];
}

.hans-button-warning.hans-button-neutral {
  @apply bg-[var(--warning-neutral-color)] text-[var(--warning-strong-color)];
}

.hans-button-warning.hans-button-outline {
  @apply bg-transparent text-[var(--warning-strong-color)] border-[var(--warning-default-color)] outline;
}

.hans-button-warning.hans-button-transparent {
  @apply bg-transparent text-[var(--warning-default-color)];
}

.hans-button-info.hans-button-strong {
  @apply bg-[var(--info-strong-color)] text-[var(--info-neutral-color)];
}

.hans-button-info.hans-button-default {
  @apply bg-[var(--info-default-color)] text-[var(--white)];
}

.hans-button-info.hans-button-neutral {
  @apply bg-[var(--info-neutral-color)] text-[var(--info-strong-color)];
}

.hans-button-info.hans-button-outline {
  @apply bg-transparent text-[var(--info-strong-color)] border-[var(--info-default-color)] outline;
}

.hans-button-info.hans-button-transparent {
  @apply bg-transparent text-[var(--info-default-color)];
}

.hans-button[class*='hans-button-hover-color-'][class*='hans-button-hover-variant-']:hover {
  border-width: 0;
  border-color: transparent;
  outline-offset: 0;
}

.hans-button.hans-button-hover-color-base.hans-button-hover-variant-strong:hover {
  background-color: var(--base-strong-color);
  color: var(--base-neutral-color);
  outline: none;
}

.hans-button.hans-button-hover-color-base.hans-button-hover-variant-default:hover {
  background-color: var(--base-default-color);
  color: var(--white);
  outline: none;
}

.hans-button.hans-button-hover-color-base.hans-button-hover-variant-neutral:hover {
  background-color: var(--base-neutral-color);
  color: var(--base-strong-color);
  outline: none;
}

.hans-button.hans-button-hover-color-base.hans-button-hover-variant-outline:hover {
  background-color: transparent;
  color: var(--text-color);
  outline: 1px solid var(--base-default-color);
}

.hans-button.hans-button-hover-color-base.hans-button-hover-variant-transparent:hover {
  background-color: transparent;
  color: var(--text-color);
  outline: none;
}

.hans-button.hans-button-hover-color-primary.hans-button-hover-variant-strong:hover {
  background-color: var(--primary-strong-color);
  color: var(--primary-neutral-color);
  outline: none;
}

.hans-button.hans-button-hover-color-primary.hans-button-hover-variant-default:hover {
  background-color: var(--primary-default-color);
  color: var(--white);
  outline: none;
}

.hans-button.hans-button-hover-color-primary.hans-button-hover-variant-neutral:hover {
  background-color: var(--primary-neutral-color);
  color: var(--primary-strong-color);
  outline: none;
}

.hans-button.hans-button-hover-color-primary.hans-button-hover-variant-outline:hover {
  background-color: transparent;
  color: var(--primary-strong-color);
  outline: 1px solid var(--primary-default-color);
}

.hans-button.hans-button-hover-color-primary.hans-button-hover-variant-transparent:hover {
  background-color: transparent;
  color: var(--primary-default-color);
  outline: none;
}

.hans-button.hans-button-hover-color-secondary.hans-button-hover-variant-strong:hover {
  background-color: var(--secondary-strong-color);
  color: var(--secondary-neutral-color);
  outline: none;
}

.hans-button.hans-button-hover-color-secondary.hans-button-hover-variant-default:hover {
  background-color: var(--secondary-default-color);
  color: var(--white);
  outline: none;
}

.hans-button.hans-button-hover-color-secondary.hans-button-hover-variant-neutral:hover {
  background-color: var(--secondary-neutral-color);
  color: var(--secondary-strong-color);
  outline: none;
}

.hans-button.hans-button-hover-color-secondary.hans-button-hover-variant-outline:hover {
  background-color: transparent;
  color: var(--secondary-strong-color);
  outline: 1px solid var(--secondary-default-color);
}

.hans-button.hans-button-hover-color-secondary.hans-button-hover-variant-transparent:hover {
  background-color: transparent;
  color: var(--secondary-default-color);
  outline: none;
}

.hans-button.hans-button-hover-color-success.hans-button-hover-variant-strong:hover {
  background-color: var(--success-strong-color);
  color: var(--success-neutral-color);
  outline: none;
}

.hans-button.hans-button-hover-color-success.hans-button-hover-variant-default:hover {
  background-color: var(--success-default-color);
  color: var(--white);
  outline: none;
}

.hans-button.hans-button-hover-color-success.hans-button-hover-variant-neutral:hover {
  background-color: var(--success-neutral-color);
  color: var(--success-strong-color);
  outline: none;
}

.hans-button.hans-button-hover-color-success.hans-button-hover-variant-outline:hover {
  background-color: transparent;
  color: var(--success-strong-color);
  outline: 1px solid var(--success-default-color);
}

.hans-button.hans-button-hover-color-success.hans-button-hover-variant-transparent:hover {
  background-color: transparent;
  color: var(--success-default-color);
  outline: none;
}

.hans-button.hans-button-hover-color-danger.hans-button-hover-variant-strong:hover {
  background-color: var(--danger-strong-color);
  color: var(--danger-neutral-color);
  outline: none;
}

.hans-button.hans-button-hover-color-danger.hans-button-hover-variant-default:hover {
  background-color: var(--danger-default-color);
  color: var(--white);
  outline: none;
}

.hans-button.hans-button-hover-color-danger.hans-button-hover-variant-neutral:hover {
  background-color: var(--danger-neutral-color);
  color: var(--danger-strong-color);
  outline: none;
}

.hans-button.hans-button-hover-color-danger.hans-button-hover-variant-outline:hover {
  background-color: transparent;
  color: var(--danger-strong-color);
  outline: 1px solid var(--danger-default-color);
}

.hans-button.hans-button-hover-color-danger.hans-button-hover-variant-transparent:hover {
  background-color: transparent;
  color: var(--danger-default-color);
  outline: none;
}

.hans-button.hans-button-hover-color-warning.hans-button-hover-variant-strong:hover {
  background-color: var(--warning-strong-color);
  color: var(--warning-neutral-color);
  outline: none;
}

.hans-button.hans-button-hover-color-warning.hans-button-hover-variant-default:hover {
  background-color: var(--warning-default-color);
  color: var(--white);
  outline: none;
}

.hans-button.hans-button-hover-color-warning.hans-button-hover-variant-neutral:hover {
  background-color: var(--warning-neutral-color);
  color: var(--warning-strong-color);
  outline: none;
}

.hans-button.hans-button-hover-color-warning.hans-button-hover-variant-outline:hover {
  background-color: transparent;
  color: var(--warning-strong-color);
  outline: 1px solid var(--warning-default-color);
}

.hans-button.hans-button-hover-color-warning.hans-button-hover-variant-transparent:hover {
  background-color: transparent;
  color: var(--warning-default-color);
  outline: none;
}

.hans-button.hans-button-hover-color-info.hans-button-hover-variant-strong:hover {
  background-color: var(--info-strong-color);
  color: var(--info-neutral-color);
  outline: none;
}

.hans-button.hans-button-hover-color-info.hans-button-hover-variant-default:hover {
  background-color: var(--info-default-color);
  color: var(--white);
  outline: none;
}

.hans-button.hans-button-hover-color-info.hans-button-hover-variant-neutral:hover {
  background-color: var(--info-neutral-color);
  color: var(--info-strong-color);
  outline: none;
}

.hans-button.hans-button-hover-color-info.hans-button-hover-variant-outline:hover {
  background-color: transparent;
  color: var(--info-strong-color);
  outline: 1px solid var(--info-default-color);
}

.hans-button.hans-button-hover-color-info.hans-button-hover-variant-transparent:hover {
  background-color: transparent;
  color: var(--info-default-color);
  outline: none;
}
