@import './TableHeader/table-header.scss';
@import './TableBody/table-body.scss';

.hans-table-wrapper {
  @apply w-full rounded-xl border;
  border-color: var(--hans-table-border);
  background: var(--hans-table-row-bg);
  overflow-x: auto;
  overflow-y: auto;
  max-height: var(--hans-table-max-height);
}

.hans-table {
  @apply w-full border-separate border-spacing-0;
  min-width: var(--hans-table-min-width);
}

.hans-table-filters td {
  @apply px-3 py-2 border-b align-middle;
  border-color: var(--hans-table-divider);
  background: var(--hans-table-row-bg);
}

.hans-table-filters .hans-input-div {
  @apply w-full;
}

.hans-table-filter-dropdown .hans-input-div {
  @apply w-full;
}

.hans-table-align-left {
  @apply text-left;
}

.hans-table-align-center {
  @apply text-center;
}

.hans-table-align-right {
  @apply text-right;
}

.hans-table-with-column-dividers th,
.hans-table-with-column-dividers td {
  @apply border-r;
  border-color: var(--hans-table-divider);
}

.hans-table-with-column-dividers th:last-child,
.hans-table-with-column-dividers td:last-child {
  @apply border-r-0;
}
